@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

$body-bg: #fff;
$text-color: #212121;
$font-family: "Nunito";

$primary: #1686ED;
$patient: #7bc74d;
$therapist: #ff5335;

$green: #15d8bb;