@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$body-bg: #fff;
$text-color: #212121;
$font-family: "Nunito";
$font-family1: "Roboto";

$primary: #1686ED;
$patient: #7bc74d;
$therapist: #8092ED;

$green: #15d8bb;